<div class="container-fluid">
    <h1>
      Checkout Begining
    </h1>
    <form class="row" [formGroup]="angForm" novalidate (ngSubmit)="onSubmit()">
        <div class="col-12 col-md-6">
            <h2>
                Shipping Address
            </h2>
            <div class="form-group">
                <label>Name:</label>
                <input class="form-control" formControlName="name" type="text">
            </div>
            <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="text-danger">
                <div *ngIf="angForm.controls['name'].errors.required">
                Name is required.
                </div>
            </div>
            <div class="form-group">
                <label>Street:</label>
                <input class="form-control" formControlName="street" type="text">
            </div>
            <div *ngIf="angForm.controls['street'].invalid && (angForm.controls['street'].dirty || angForm.controls['street'].touched)" class="text-danger">
                <div *ngIf="angForm.controls['street'].errors.required">
                Street is required.
                </div>
            </div>
            <div class="form-group">
                <label>City:</label>
                <input class="form-control" formControlName="city" type="text">
            </div>
            <div *ngIf="angForm.controls['city'].invalid && (angForm.controls['city'].dirty || angForm.controls['city'].touched)" class="text-danger">
                <div *ngIf="angForm.controls['city'].errors.required">
                City is required.
                </div>
            </div>
            <div class="form-group">
                <label>Country:</label>
                <input class="form-control" formControlName="country" type="text">
            </div>
            <div *ngIf="angForm.controls['country'].invalid && (angForm.controls['country'].dirty || angForm.controls['country'].touched)" class="text-danger">
                <div *ngIf="angForm.controls['country'].errors.required">
                Country is required.
                </div>
            </div>
            <div class="form-group">
                <label>Pincode:</label>
                <input class="form-control" formControlName="pincode" type="number" maxlength="6">
            </div>
            <div *ngIf="angForm.controls['pincode'].invalid && (angForm.controls['pincode'].dirty || angForm.controls['pincode'].touched)" class="text-danger">
                <div *ngIf="angForm.controls['pincode'].errors.required">
                Pincode is required.
                </div>
                <div *ngIf="angForm.controls['pincode'].errors.pattern">
                Please enter valid pincode.
                </div>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input class="form-control" formControlName="email" type="email">
            </div>
            <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="text-danger">
                <div *ngIf="angForm.controls['email'].errors.required">
                Email is required.
                </div>
                <div *ngIf="angForm.controls['email'].errors.pattern">
                Please enter valid email.
                </div>
            </div>
            <div class="form-group">
                <label>Phone:</label>
                <input class="form-control" formControlName="phone" type="number" maxlength="10">
            </div>
            <div *ngIf="angForm.controls['phone'].invalid && (angForm.controls['phone'].dirty || angForm.controls['phone'].touched)" class="text-danger">
                <div *ngIf="angForm.controls['phone'].errors.required">
                Phone is required.
                </div>
                <div *ngIf="angForm.controls['phone'].errors.pattern">
                Please enter valid phone number.
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <h2>
                Billing Address
            </h2>
            <div class="form-group">
                <label>Name:</label>
                <input class="form-control" formControlName="billName" type="text">
            </div>
            <div *ngIf="angForm.controls['billName'].invalid && (angForm.controls['billName'].dirty || angForm.controls['billName'].touched)" class="text-danger">
                <div *ngIf="angForm.controls['billName'].errors.required">
                Name is required.
                </div>
            </div>
            <div class="form-group">
                <label>Street:</label>
                <input class="form-control" formControlName="billStreet" type="text">
            </div>
            <div *ngIf="angForm.controls['billStreet'].invalid && (angForm.controls['billStreet'].dirty || angForm.controls['billStreet'].touched)" class="text-danger">
                <div *ngIf="angForm.controls['billStreet'].errors.required">
                Street is required.
                </div>
            </div>
            <div class="form-group">
                <label>City:</label>
                <input class="form-control" formControlName="billCity" type="text">
            </div>
            <div *ngIf="angForm.controls['billCity'].invalid && (angForm.controls['billCity'].dirty || angForm.controls['billCity'].touched)" class="text-danger">
                <div *ngIf="angForm.controls['billCity'].errors.required">
                City is required.
                </div>
            </div>
            <div class="form-group">
                <label>Country:</label>
                <input class="form-control" formControlName="billCountry" type="text">
            </div>
            <div *ngIf="angForm.controls['billCountry'].invalid && (angForm.controls['billCountry'].dirty || angForm.controls['billCountry'].touched)" class="text-danger">
                <div *ngIf="angForm.controls['billCountry'].errors.required">
                Country is required.
                </div>
            </div>
            <div class="form-group">
                <label>Pincode:</label>
                <input class="form-control" formControlName="billPincode" type="number" maxlength="6">
            </div>
            <div *ngIf="angForm.controls['billPincode'].invalid && (angForm.controls['billPincode'].dirty || angForm.controls['billPincode'].touched)" class="text-danger">
                <div *ngIf="angForm.controls['billPincode'].errors.required">
                Pincode is required.
                </div>
                <div *ngIf="angForm.controls['billPincode'].errors.pattern">
                Please enter valid pincode.
                </div>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input class="form-control" formControlName="billEmail" type="billEmail">
            </div>
            <div *ngIf="angForm.controls['billEmail'].invalid && (angForm.controls['billEmail'].dirty || angForm.controls['billEmail'].touched)" class="text-danger">
                <div *ngIf="angForm.controls['billEmail'].errors.required">
                Email is required.
                </div>
                <div *ngIf="angForm.controls['billEmail'].errors.pattern">
                Please enter valid email.
                </div>
            </div>
            <div class="form-group">
                <label>Phone:</label>
                <input class="form-control" formControlName="billPhone" type="number" maxlength="10">
            </div>
            <div *ngIf="angForm.controls['billPhone'].invalid && (angForm.controls['billPhone'].dirty || angForm.controls['billPhone'].touched)" class="text-danger">
                <div *ngIf="angForm.controls['billPhone'].errors.required">
                Phone is required.
                </div>
                <div *ngIf="angForm.controls['billPhone'].errors.pattern">
                Please enter valid phone number.
                </div>
            </div>
            
        </div>
        
        <button type="submit"
            [disabled]="angForm.pristine || angForm.invalid" class="btn btn-success">
            Place Order
        </button>
    </form>
  </div>