.cart .product-tile {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.product-tile .tile-body p {
    margin-bottom: 0.25rem;
}

.product-tile .tile-body button {
    margin-top: 0.25rem;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 0;
}

.product-tile .tile-body button:hover {
    color: #ffffff;
    border-radius: 0;
    background-color: #4e4e4e;
}

.product-tile .tile-body select {
    width: 50%;
    margin: 0.25rem 0 0.75rem;
}

@media screen and (min-width: 768px) { 
    .product-tile .tile-body select {
        width: 25%;
    }
}