<h1>Shopping Cart</h1>
<div class="container-fluid">
    <!--- Cart Grid --->
    <div class="row cart" *ngIf="addedProduct.length > 0" itemtype="http://schema.org/SomeProducts" itemid="#product">
            <div class="col-12 col-md-8">
                <div *ngFor="let item of addedProduct" class="row product-tile text-left">
                    <div class="image-container col-6 col-md-5">
                        <img class="tile-image img-fluid"
                            src="https://res.cloudinary.com/hy4kyit2a/image/upload/2016-01-300x300-trailhead-NY-NL.png" 
                            alt="{{item.name}}"
                            title="{{item.name}}"
                        />
                    </div>
                    <div class="tile-body col-6 col-md-7">
                        <p>{{item.name}}</p>
                        <div *ngFor="let variant of item.variants; let i = index;">
                            <div *ngIf="i < 1">
                                <p>Color : {{variant.color}}</p>
                                <p>Size : {{variant.size}}</p>
                                <p>Each : ₹ {{variant.price}}</p>
                                <p>Total : ₹ {{variant.totalPrice ? variant.totalPrice : variant.price}}</p>
                                <select class="form-control quantity custom-select"
                                    id="quantity" name="selectedQuantity" aria-label="quantity" 
                                    (change)="onQuantityChange($event, item)">
                                        <option *ngFor="let quntity of quantityDropdow" 
                                        [selected]="quntity == variant.quantity">{{quntity}}</option>
                                </select>
                            </div>                   
                        </div>
                        <button class="btn btn-primary"
						data-pid="${item.id}" (click)="onRemoveProduct(item)">Remove</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 text-center">
                <a class="checkout-link" routerLink="/checkout">Checkout</a>
            </div>
    </div>
    <div class="row cart" *ngIf="addedProduct.length < 1">
        <h1>Your Shopping Cart is Empty.</h1>
    </div>
</div>

