<header>
    <div class="header container-fluid">
        <div class="row">
            <div class="navbar-header text-center col-12">
                <h1>{{title}}</h1>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container">
                <div class="row">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a class="nav-link" routerLink="home" routerLinkActive="active">Home</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="cart">Cart</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer></footer>