.home-page-container{

}
.product-grid .product-tile {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.product-tile .tile-body p {
    margin-bottom: 0.25rem;
}

.product-tile .tile-body button {
    margin-top: 0.25rem;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 0;
}

.product-tile .tile-body button:hover {
    color: #ffffff;
    border-radius: 0;
    background-color: #4e4e4e;
}

@media screen and (max-width: 767.98px) {
.sidenav {
    height: 100%;
    width: 80%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(219, 219, 219);
    overflow-x: hidden;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

}
  
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 20%;
    margin: 0 auto;
}

.modal-header{
    background-color:rgb(164, 197, 235);
}

.modal-content {
    overflow:hidden;
}