<div class="container-fluid home-page-container">
  <div class="row"> 
	<button class="btn btn-primary d-block d-md-none" id="showFilter">Filters</button>
    <div class="col-sm-12 col-md-4 col-lg-3 sidenav d-none d-md-block">
		<a href="javascript:void(0)" id="closeSidenav" class="closebtn d-block d-md-none">&times;</a>
		<!--- Product Filter --->
		<div class="row">
			<div class="col-12">
				<h3>Categories</h3>
			</div>
			<div class="col-12">
				<div *ngFor="let category of categorieData" class="d-inline d-md-block p-2">
					<label>
						<input type="checkbox" [value]="category.id" (change)="onCheckboxChange($event)" />
						{{category.name}}
					</label>
				</div>
			</div>
		</div>
		<!--- Product Sort --->
		<div class="row">
			<div class="col-12">
				<div class="col-12">
					<h3>Filters</h3>
				</div>
				<div *ngFor="let filter of filterData">
					<label>
						<input type="checkbox" [value]="filter.ranking" (change)="onCheckboxFilterChange($event)" 
						[checked]="selectedFilters.indexOf(filter.ranking) > -1"/>
						{{filter.ranking}}
					</label>
				</div>
			</div>
		</div>
    </div>

    <div class="col-sm-12 col-md-8 col-lg-9">
		<!--- Product Grid --->
		<div class="row product-grid" itemtype="http://schema.org/SomeProducts" itemid="#product">
			<div *ngFor="let item of productData" class="col-lg-4 col-md-6 col-sm-12 product-tile text-center">
				<div class="image-container">
					<img class="tile-image img-fluid"
						src="https://res.cloudinary.com/hy4kyit2a/image/upload/2016-01-300x300-trailhead-NY-NL.png" 
						alt="{{item.name}}"
						title="{{item.name}}"
					/>
				</div>
				<div class="tile-body">
					<p>{{item.name}}</p>
					<div *ngFor="let variant of item.variants; let i = index;">
						<div *ngIf="i < 1">
							<p>Color : {{variant.color}}</p>
							<p>Size : {{variant.size}}</p>
							<p>₹ {{variant.price}}</p>
						</div>
						<div *ngIf="item.variants.length > 1 && item.variants.length == i + 1">
							<p *ngIf="i > 1">
								{{i}} more variants available
							</p>
							<p *ngIf="i == 1">
								{{i}} more variant available
							</p>
						</div>						
					</div>
					
					<button class="btn btn-primary"
						data-pid="${item.id}" (click)="onAddToCart(item)">Add To Cart</button>
				</div>
			</div>
			<div *ngIf="productData.length < 1">
				We are sorry, but no results were found for your selection. 
			</div>
		</div>
	</div>
	
	<div id="mdlSample" class="modal fade" role="dialog" [ngStyle]="{'display': mdlSampleIsOpen ? 'block' : 'none', 'opacity': 1}">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-body">{{addedProductToCartMsg}}</div>
				<div class="modal-footer">
					<button type="button" id="btnClose" class="btn btn-danger" (click)="openModal(false)"><i class="fa fa-times fa-fw"></i> Close</button>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>